<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Page</title>
        <meta name="theme-color" content="#c9e0e04d">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/timer.css">
    </head>
    <body>

        <header id="he">
            <p>_</p><p>Y</p><p>o</p><p>u</p><p>r</p><p>_</p><p>B</p><p>i</p>
            <p>r</p><p>t</p><p>h</p><p>d</p><p>a</p><p>y</p><p>_</p><p>K</p>
            <p>i</p><p>t</p><p>t</p><p>y</p><p>!</p><p>_</p>
        </header> 
                  
        <div id="main">    
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
                  
            <div class="points">:</div>
                  
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
                  
            <div class="points">:</div>
                  
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
                  
            <div class="points">:</div>
                        
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
            <div class="cont" >
                <div class="zero">0</div>
                <div class="one">1</div>
                <div class="two">2</div>
                <div class="three">3</div>
                <div class="four">4</div>
                <div class="five">5</div>
                <div class="six">6</div>
                <div class="seven">7</div>
                <div class="eight">8</div>
                <div class="nine">9</div>
            </div>
            </div>
                  
            <select id="sel">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option> 
            </select>




        @@include("../../blocks/modules/header/header.html")
        <h1>New Page</h1>
        @@include("../../blocks/modules/footer/footer.html")

        <script src="../js/timer.js"></script>
        <script src="../js/pageB.js"></script>
        <script src="../js/vendor.js"></script>
    </body>
</html>