@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

@keyframes div1 {
  0%, 100% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(-75deg);
  }
}
@keyframes div2 {
  0%, 100% {
    transform: rotate(-75deg);
  }
  50% {
    transform: rotate(25deg);
  }
}
@keyframes div3 {
  0%, 100% {
    transform: rotate(145deg);
  }
  50% {
    transform: rotate(-145deg);
  }
}
@keyframes div4 {
  0%, 100% {
    transform: rotate(-145deg);
  }
  50% {
    transform: rotate(145deg);
  }
}

@keyframes forBox {
  0%, 100% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(80deg)rotateY(90deg);
  }
  75% {
    transform: rotateX(-80deg)rotateY(180deg);
  }
}
@keyframes rotateForvard {
  from {
      transform: rotateY(0)
  }
  to {
      transform: rotateY(360deg)
  }
}
@keyframes rotateSide {
  from {
      transform: rotateX(0)
  }
  to {
      transform: rotateX(360deg)
  }
}

html {
  font-size: 10px;
}

#body {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
  }
}

#nav {
  position: fixed;
  height: 30px;
  width: 40px;
  left: 0;
  top: 28vh;
  background: #222; 
  z-index: 999;
  transition: .34s;
  border-left: 4px solid #932E96;  



  .navbar {
    position: absolute;
    background: linear-gradient(90deg, #222, 30px, transparent 30px);
    left: calc(100% - 30px);
    height: 30px;
    width: 180px;
    overflow: hidden;
    transition: .34s;

    .navbar__line {
      position: relative;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 2vw;
      font-size: 15px;
      font-family: Roboto, sans-serif;
      color: #eee;
      right: 100%;
    }
    .navbar__out {
      right: 0;
    }
    .navbar__line:first-child {
      margin-top: 30px;
    }
    .navbar__line:nth-child(odd) {
      background: #555;
    }
  }
  .navbarOpen {
    height: 300px;
  }
  #navButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999999;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    padding-left: 5px;
    
    > div {
      height: 4px;
      width: 20px;
      background: #932E96;
      border-radius: 3px;
      transition: .6s;
      margin-bottom: 5px;
    }
    .top {
      transform: translateY(0px)rotate(0deg);
    }
    .mid {
      transform: rotateZ(0deg);
      opacity: 1;
    }
    .bot {
      transform: translateY(0px)rotate(0deg);
    }
  }
}
#nav.navOpenWidth {
  width: 180px;
}
#nav.navOpen {

  #navButton {
    .top {
      transform: translateY(15px)rotate(-495deg)
    }
    .mid {
      transform: rotateZ(-1111deg);
      opacity: 0;
    }
    .bot {
      transform: translateY(-15px)rotate(495deg);
    }
  }
}

header {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {

      h1 {
        font-size: 45px;
        position: absolute;
        color: #222;
        top: 30px;
        left: 30px;
        font-family: Roboto, sans-serif;
      }
      .frame {
        position: absolute;
        left: 80px;
        top: calc(50vh - 150px);
        height: 300px;
        width: 225px;
        overflow: hidden;
        transition: .5s;
        animation: div1 9s linear infinite reverse;

        > div {
          height: 300px;
          width: 225px;
          overflow: hidden;
          transition: .5s;
          animation: div2 9s linear infinite reverse;

          > div {
            height: 300px;
            width: 225px;
            overflow: hidden;
            transition: .5s;
            animation: div3 19s linear 1s infinite reverse;
            
            > div {
              height: 300px;
              width: 225px;
              transition: .5s;
              animation: div4 19s linear 1s infinite reverse;

              img {
                position: fixed;
                transform: rotate(50deg);
                height: 300px;
                width: auto;
                z-index: 999;
                transition: .5s;
              }
            }
          }
        }
      }
      // .frame:hover img {
      //   // transform: ;
      // }
      .frame:hover img {
        transform: scale(1.25)rotate(50deg);
        transition: 1s;
      }
    }

    .banner {
        width: 100%;
        height: 100vh;
    }
}

main {
  display: flex;
  position: absolute;
  top: 0;
  left: 100vw;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  
  > div {
    height: 100vh;
  }

  .about {
      position: relative;
      background: #222;
      width: 45vw;
      z-index: 9;

    .about__menu {
      position: relative;
      left: 40%;
      width: 60%;
      min-width: 200px;
      height: 100%;
      color: #fff;
        
      h2 {
        padding: 8vh 0 16vh 0 ;
      }
      > div {
        cursor: pointer;
        padding: 2vh 0 2vh 0 ;
        width: 120px;
      }
      span {
        position: relative;
        display: block;
        height: 2px;
        width: 0px;
        background: #932E96;
        border-right: 0px solid #fff;
        transition: .6s;
      }
      .element:hover + span {
        width: 100px;
        border-right: 40px solid #fff;
      }
    }
  }
  #pages {
    position: relative;
    width: 55vw;  
    perspective: 4000px;
    transform-origin: preserve-3d;

    > div {
      position: absolute;
      background: transparent;
      width: 55vw;
      height: 100vh;
      color: #932E96;
      transform-origin: 100% 100%;
      transition: .8s; 
      // background: rgba(0, 0, 0, 0.39);

      h2 {
        height: 20vh;
        display: flex;
        align-items: center;
        padding-left: 2vw;
      }
    }
    .about-me {
      transform-origin: 50% 0%;


      p {
        padding-left: 2vw;
        height: 60vh;
      }
    }
    .skills {
      transform: rotateY(180deg);
      
      .skills__cont {
        height: 60vh;
        overflow-x: auto;
        transition: .2s;

        .skills__cont_html span {
          width: 50%;   
          transition: 4s;       
        }
        .skills__cont_css span {
          width: 50%;
          transition: 4s;  
        }
        .skills__cont_js span {
          width: 40%;
          transition: 3.2s;  
        }
        .skills__cont_jquery span {
          width: 35%;
          transition: 3s;  
        }
        .skills__cont_vue span {
          width: 20%;
          transition: 1.6s;  
        }
        .skills__cont_php span {
          width: 15%;
          transition: 1.2s;  
        }
        .skills__cont_gulp span {
          width: 15%;
          transition: 1.2s;  
        }
        .skills__cont_sass span {
          width: 30%;
          transition: 2.4s;  
        }
        .skills__cont_ps span {
          width: 22%;
          transition: 2.2s;
        }
        .skills__cont_vs span {
          width: 48%;
          transition: 4s;  
        }
        .skills__cont_ajax span {
          width: 45%;
          transition: 3.8s;  
        }
        .skills__cont_react span {
          width: 11%;
          transition: .88s;  
        }
        .skills__cont_english span {
          width: 38%;
          transition: 3s;  
        }

        span.linePlus {
          transition: 0s;
          width: 0px;
        }
      }
      .skills__cont:hover {
        box-shadow: inset -3px 0px 5px #932E96;
      }
      > div > div {
        padding: 0;
        display: flex;
        align-items: center;

        p {
          width: 120px;
          position: relative;
          left: 2vw;
        }
        span {
          position: relative;
          background: #932E96;
          height: 5px;
        }
      }  
    }
    .experience{
      transform: rotateX(-180deg);
      transform-origin: 0% 100%;

      p {
        font-size: 17px;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 20px;
        padding-bottom: 20px;
        height: calc(60vh -40px);
        overflow-Y: scroll;
        transition: .2s;

        a {
          text-decoration: none;
          color: #222;
        }
        a:hover {
          color: #932E96;
        }
        a:visited {
          color: #aaa; 
        }
      }
      p:hover {
        box-shadow: inset -3px 0px 5px #932E96;
      }
    }
    .contacts {
      transform: rotateY(-180deg);
      transform-origin: 0% 0%;

      h2 {

      }
      div {
        height: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
          text-decoration: none;
          padding: 0vh 0 0vh 2vw ;
          font-size: 20px;
          font-weight: 900;
          color: #222;
          margin-bottom: 20px;
        }
      }
    }
  }
}

#wrapper {
  transition: .4s;
}
 
.field {
  position: fixed;
  z-index: 999;
  top: 47vh;
  display:flex;
  justify-content:center;
  align-items:center;
  animation: rotateForvard 6s linear infinite;
  justify-content:center;
  transform-style:preserve-3d;
  transform-origin:50% 50% -15.4rem;
  perspective: 9e9999px;

  .cont {
    position:relative;
    width:11rem;
    height: 10rem;
    display:flex;
    justify-content:center;
    transform-style:preserve-3d;
    transform-origin:50% 50% -15.4rem;
    transition:.8s;
    transition-timing-function:linear;
    animation: rotateSide 12s linear infinite;
    perspective: 9e9999px;

    div {
      position:absolute;
      height:10rem;
      width:20rem;
      border-top:2px solid transparent;
      transform-origin:50% 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size: 5rem;
    //   backface-visibility: hidden;
      background: rgba(255, 255, 255, 0.164);
      transform-style:preserve-3d;

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
      
    }

    .one {
      transform:translateY(-10.0rem)rotateX(36deg);
      transform-style:preserve-3d;

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
    }
    .two {
      transform:translateY(-18.1rem)translateZ(-5.9rem)rotateX(72deg);

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
    }
    .three {
      transform:translateZ(-15.4rem)translateY(-21.2rem)rotateX(108deg);
    }
    .four {
      transform:translateZ(-24.9rem)translateY(-18.1rem)rotateX(144deg);
    }
    .five { transform:translateZ(-30.8rem)translateY(-10.0rem)rotateX(180deg);
    }
    .six {
      transform:translateZ(-30.8rem)rotateX(-144deg);
    }
    .seven {
      transform:translateZ(-24.9rem)translateY(8.1rem)rotateX(-108deg);
    }
    .eight {
      transform:translateZ(-15.4rem)translateY(11.2rem)rotateX(-72deg);
    }
    .nine {
      transform:translateZ(-5.9rem)translateY(8.1rem)rotateX(-36deg);
    }
    .side1 {
        transform:translateZ(-15.4rem)translateX(-10rem)translateY(-11rem)rotateY(-90deg);
    }
    .side2 {
        transform:translateZ(-15.4rem)translateX(10rem)translateY(-11rem)rotateY(90deg);

    }
    .side1, .side2 {
      background: radial-gradient(rgba(255, 255, 255, 0.274), transparent, transparent);
      // backface-visibility: hidden;
      height: 33rem;
      width: 33rem;
      border-radius: 50%;
      
      img {
        height: 16rem;
        width: auto;
      }
    }
  }
}
.field > div > div:hover{
  background: #000;
}
footer {
  position: relative;
  left: 100vw;
  height: 100vh;
  width: 100vw;
  background: #aaa;

  h2 {
    position: absolute;
    font-size: 35px;
    top: 10px;
    width: 100vw;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    transition: .4s;
    color: #222;
    z-index: 9;
  }
  #works {
    display: flex;
    width: 200vw;

    > div {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    .page1{
      font-size: 16px;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 30px;
      grid-template-areas: 
        ". gm gm gm gm gm gm op op op op ."
        ". gm gm gm gm gm gm br br br br .";
      justify-items: center;
      align-content: center;
      font-family: Roboto, sans-serif;
      perspective: 600px;
      transform-origin: preserve-3d; 

      .page1__game {
        grid-area: gm;
      }
      .page1__photo-cut {
        grid-area: op;
      }
      .page1__timer {
        grid-area: br;
      }

      .page1__flyLeft {
        transition: .4s;
        transform-origin: 0% 100%;
        transform: translateZ(200px)rotateY(-180deg); 
      }
      .page1__flyTop {
        transition: .4s;
        transform-origin: 100% 100%;
        transform: translateY(300px)translateZ(200px)rotateX(-280deg); 
      }

      a {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 250px;
        background: #000;
        border-bottom: 4px solid #932E96;
        border-top: 4px solid #222;
        padding: 0;
        text-decoration: none;
        color: #222;
        border-radius: 15px;
        overflow: hidden;
        transform-origin: 0% 100%;
        transition: .4s;
        
        p {
          display: flex;  
          position: absolute;
          background: #fff;
          color: #932E96;
          font-size: 17px;
          font-weight: 600;
          width: 100%;
          height: 35px;
          margin: 0;
          justify-content: center;
          align-items: center;
          z-index: 9;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
          margin-top: 40px;
          transition: .2s;
        }
        img:hover {
          transform: scale(1.5);
          transition: .6s;
        }
      }

      .page1__game {
        height: 300px;
        max-width: 600px;
      }
    }
    .page2 {
      background: #aaa;
      font-size: 16px;
      display: grid; 
      grid-row-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-content: center;
      font-family: Roboto, sans-serif;
      perspective: 600px;
      transform-origin: preserve-3d;

      .page2__fly {
        transition: .4s;
        transform-origin: 100% 0%;
        transform: translateZ(100px)rotateY(180deg); 
      }

      a {
        display: flex;
        position: relative;
        height: 150px;
        width: 100%;
        max-width: 250px;
        background: #000;
        border-bottom: 4px solid #932E96;
        border-top: 4px solid #222;
        padding: 0;
        text-decoration: none;
        color: #222;
        border-radius: 15px;
        overflow: hidden;
        transform-origin: 0% 100%;
        transition: .4s;
        
        p {
          display: flex;
          position: absolute;
          background: #fff;
          color: #932E96;
          font-size: 17px;
          font-weight: 600;
          width: 100%;
          height: 35px;
          margin: 0;
          justify-content: center;
          align-items: center;
          z-index: 9;
        }
        img {
          display: block;
          width: 100%;
          height: auto;
          margin-top: 35px;
          transition: .2s;
        }
        img:hover {
          transform: scale(1.5);
          transition: .6s;
        }

        #comingSoon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
          width: 100%;
          z-index: 99999;
    
          .box {
            position: absolute;
            height: 70px;
            width: 70px;
            margin-top: 45px;
            left: calc(50% - 35px);
            background: radial-gradient(#932E96, rgba(0,0,0,.2), transparent, transparent 60%, #932E96 70%, #932E96);
            border: 3px solid #fff;
            border-radius: 50%; 
            top: 10px;
          }
        }
      }
      .page2__flyLeft {
        transition: .4s;
        transform-origin: 0% 100%;
        transform: translateZ(200px)rotateY(-180deg); 
      }
    }
  }
}

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:9px; 
  height:0px
}
::-webkit-scrollbar-track {
  background-color:#932E96;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#fff;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#fff; 
}
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:9px;
  height:0px
}
  
::-webkit-scrollbar{
  width: 9px;
}




@media screen and (max-width:1270px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width:768px) {
  html {
    font-size: 7px;
  }
}
@media screen and (max-width:499px) {
  html {
    font-size: 6px;
  }
}

