@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

@keyframes  nameWaves {
  0%, 80%, 100% {
    color: #222;
  }
  90% {
    color: #fff;
  }
}
@keyframes  worksWaves {
  0% {
    top: 17px;
  }
  2% {
    top: -15px;
  }
  4% {
    top: 13px;
  }
  6% {
    top: -11px;
  }
  12% {
    top: 0;
    left: 9px;
  }
  10% {
    left: -7px;
  }
  12% {
    left: 5px;
  }
  14% {
    top: 3px;
    left: 0;
  }
  16% {
    top: -1px;
  }
  18% {
    top: 0;
  }
  
}

@keyframes div1 {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(72000deg);
  }
}
@keyframes div2 {
  0%, 100% {
    border-radius: 0%;
  }
  50% {
    border-radius: 50%;  }
}
@keyframes div3 {
  0%, 100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-144000deg);
  }
}
@keyframes page1box1 {
  0% {
    transform: skewY(1deg)translateY(0);
  }
  10% {
    transform: skewY(0)translateY(5vh);
  }
  20% {
    transform: skewY(-2.5deg)translateY(3vh);
  }
  30% {
    transform: skewY(-1.5deg)translateY(5);
  }
  40% {
    transform: skewY(0)translateY(0);
  }
  50% {
    transform: skewY(-2.5deg)translateY(5vh);
  }
  60% {
    transform: skewY(0)translateY(3vh);
  }
  70% {
    transform: skewY(7.5deg)translateY(7vh);
  }
  80% {
    transform: skewY(-7.5deg)translateY(10vh);
  }
  90% {
    transform: skewY(-5deg)translateY(15vh);
  }
  100% {
    transform: skewY(-2.5deg)translateY(10vh);
  }
}
@keyframes page1box2 {
  0% {
    transform: skewY(0deg)translateY(0);
  }
  10% {
    transform: skewY(-2.5deg)translateY(-5vh);
  }
  20% {
    transform: skewY(-5deg)translateY(-10vh);
  }
  30% {
    transform: skewY(-2.5deg)translateY(-5vh);
  }
  40% {
    transform: skewY(0deg)translateY(0);
  }
  50% {
    transform: skewY(2.5deg)translateY(5vh);
  }
  60% {
    transform: skewY(5deg)translateY(13vh);
  }
  70% {
    transform: skewY(7.5deg)translateY(19vh);
  }
  75% {
    transform: skewY(-3.5deg)translateY(15vh);
  }
  90% {
    transform: skewY(-1.5deg)translateY(19vh);
  }
  100% {
    transform: skewY(-2.5deg)translateY(8vh);
  }
}
@keyframes page2box1 {
  0% {
    transform: skewY(-1deg)translateY(0);
  }
  10% {
    transform: skewY(0)translateY(5vh);
  }
  20% {
    transform: skewY(2.5deg)translateY(3vh);
  }
  30% {
    transform: skewY(1.5deg)translateY(5);
  }
  40% {
    transform: skewY(0)translateY(0);
  }
  50% {
    transform: skewY(2.5deg)translateY(5vh);
  }
  60% {
    transform: skewY(0)translateY(3vh);
  }
  70% {
    transform: skewY(-7.5deg)translateY(7vh);
  }
  80% {
    transform: skewY(7.5deg)translateY(10vh);
  }
  90% {
    transform: skewY(5deg)translateY(15vh);
  }
  100% {
    transform: skewY(2.5deg)translateY(10vh);
  }
}
@keyframes page2box2 {
  0% {
    transform: skewY(0deg)translateY(0);
  }
  10% {
    transform: skewY(2.5deg)translateY(-5vh);
  }
  20% {
    transform: skewY(5deg)translateY(-10vh);
  }
  30% {
    transform: skewY(2.5deg)translateY(-5vh);
  }
  40% {
    transform: skewY(0deg)translateY(0);
  }
  50% {
    transform: skewY(-2.5deg)translateY(5vh);
  }
  60% {
    transform: skewY(-5deg)translateY(13vh);
  }
  70% {
    transform: skewY(-7.5deg)translateY(19vh);
  }
  75% {
    transform: skewY(3.5deg)translateY(15vh);
  }
  90% {
    transform: skewY(1.5deg)translateY(19vh);
  }
  100% {
    transform: skewY(2.5deg)translateY(8vh);
  }
}

@keyframes forBox {
  0%, 100% {
    transform: rotateX(0);
  }
  25% {
    transform: rotateX(80deg)rotateY(90deg);
  }
  75% {
    transform: rotateX(-80deg)rotateY(180deg);
  }
}
@keyframes rotateForvard {
  from {
      transform: rotateY(0)
  }
  to {
      transform: rotateY(360deg)
  }
}
@keyframes rotateSide {
  from {
      transform: rotateX(0)
  }
  to {
      transform: rotateX(360deg)
  }
}

html {
  font-size: 10px;
}

#body {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
  }
}

#nav {
  position: fixed;
  height: 30px;
  width: 40px;
  left: 0;
  top: calc(50vh - 155px);
  background: #222; 
  z-index: 999;
  transition: .34s;
  border-left: 4px solid #932E96;  
 
  .hide__circle {
    left: 100%;
    display: flex;
    position: relative;
    height: 400px;
    width: 0;
    overflow: hidden;
    transition: 1.34s;

    .circle {
      left: -180px;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      position: absolute;
      border: 30px solid #222;
      border-right: 30px solid transparent;
      border-top: 30px solid transparent;
      transform: rotate(45deg);
      transition: .72s linear;
    }
    .circleOut {
      transform: rotate(225deg);
    }
  }
  .hideOut {
    width: 400px;
    transition: .7s;
  }
  .navbar {
    position: absolute;
    top: -75px;
    left: 0px;
    height: 450px;
    width: 0px;
    overflow: hidden;
    transition: .34s;
    padding-top: 90px;

    .navbar__line {
      position: relative;
      height: 30px;
      width: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      right: 100%;
      transition: width .15s;
      transform-origin: 0% 50%;
      overflow: hidden;

      a {
        color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 180px;
        background: #222;
        text-decoration: none;
        font-size: 15px;
        font-family: Roboto, sans-serif;
      }
      a:hover {
        color: #932E96;
      }
    }
    .navbar__line:nth-child(1) {
      left: 55px;
      transform: rotate(-44deg);
    }
    .navbar__line:nth-child(2) {
      left: 77px;
      transform: rotate(-33deg);
    }
    .navbar__line:nth-child(3) {
      left: 93px;
      transform: rotate(-23deg);
    }
    .navbar__line:nth-child(4) {
      left: 103px;
      transform: rotate(-12deg);
    }
    .navbar__line:nth-child(5) {
      left: 106px;
      transform: rotate(0);
    }
    .navbar__line:nth-child(6) {
      left: 103px;
      transform: rotate(12deg);
    }
    .navbar__line:nth-child(7) {
      left: 93px;
      transform: rotate(23deg);
    }
    .navbar__line:nth-child(8) {
      left: 77px;
      transform: rotate(33deg);
    }
    .navbar__line:nth-child(9) {
      left: 55px;
      transform: rotate(44deg);
    }
    .lineOut {
      transition: width .34s;
      width: 150px;
      overflow: hidden;
    }
    .navbar__out {
      right: 0;
    }
    .navbar__line:first-child {
      margin-top: 30px;
    }
  }
  .navbarOpen {
    transition: 0s;
    left: 225px;
    height: 450px;
    width: 400px;
  }
  #navButton {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999999999;
    height: 30px;
    width: 30px;
    padding-top: 4px;
    padding-left: 5px;
    cursor: pointer;
    
    > div {
      height: 4px;
      width: 20px;
      background: #932E96;
      border-radius: 3px;
      transition: .6s;
      margin-bottom: 5px;
    }
    .top {
      transform: translateY(0px)rotate(0deg);
    }
    .mid {
      transform: rotateZ(0deg);
      opacity: 1;
    }
    .bot {
      transform: translateY(0px)rotate(0deg);
    }
  }
}
#nav.navOpenWidth {
  width: 180px;
}
#nav.navOpen {

  #navButton {
    .top {
      transform: translateY(15px)rotate(-495deg)
    }
    .mid {
      transform: rotateZ(-1111deg);
      opacity: 0;
    }
    .bot {
      transform: translateY(-15px)rotate(495deg);
    }
  }
}

#navWall {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 99;
  background: transparent;
  z-index: -1;
  transition: .94s;
}
#navWall.navWall {
  background: rgba(238, 238, 238, .5);
  z-index: 99;
}

#swapWrapper {
  position: fixed;
  display: flex;
  align-items: center;
  top: 80vh;
  left: 0;
  height: 20vh;
  width: 30px;
  z-index: 99999;

  #swap {
    right: 0;
    height: 20px;
    width: 30px;
    background: #000;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto, sans-serif;
    transition:.3s;
    transform-origin: 0% 50%;
    cursor: pointer;
  }
  #swap:hover {
    transform: scale(2)
  }
}


header {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {

      h1 {
        padding-left: 40px;
        position: absolute;
        display: flex;
        align-items: center;
        font-size: 45px;
        color: #222;
        width: 100vw;
        height: 20vh;
        top: 0px;
        left: 0px;
        font-family: Roboto, sans-serif;

        p {
          position: relative;
          transition: 0s;
          transform: rotate(120deg);
        }
        p:nth-child(1) {
          transform-origin: 100% 2400%;
        }
        p:nth-child(2) {
          transform-origin: 2000% 100%;
        }
        p:nth-child(3) {
          transform-origin: 0% -2000%;
        }
        p:nth-child(4) {
          transform-origin: -1000% 0%;
        }
        p:nth-child(5) {
          transform-origin: -2000% -200%;
        }
        p:nth-child(6) {
          transform-origin: 100% 2400%;
        }
        p:nth-child(7) {
          transform-origin: 2000% 100%;
        }
        p:nth-child(8) {
          transform-origin: 0% -300%;
          transform: translate(100vw)rotate(-100deg);
        }
        p:nth-child(9) {
          transform-origin: 700% 0%;
        }
        p:nth-child(10) {
          transform-origin: -900% -200%;
        }
        p:nth-child(11) {
          transform-origin: 100% 1400%;
        }
        p:nth-child(12) {
          transform-origin: 1000% 100%;
        }
        p:nth-child(13) {
          transform-origin: 0% -1000%;
        }

        .tran {
          transition: .6s;
        }
        p.away {
          transition: 1s;
          transform: translate(0vw)rotate(0);
          animation: nameWaves 3s linear -.6s;
        }
      }
      h3 {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 100;
        color: #222;
        font-family: Roboto, sans-serif;
        width: 100vw;
        height: 20vh;
        top: 80vh;
        left: 0;
      }
    }

    .banner {
        width: 100%;
        height: 100vh;
    }
}

main {
  display: flex;
  position: absolute;
  top: 0;
  left: 100vw;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  
  > div {
    height: 100vh;
  }

  .about {
      position: relative;
      background: #222;
      width: 45vw;
      z-index: 9;

      
    h2 {
      position: relative;
      display: flex;
      align-items: center;
      left: 40%;
      width: 60%;
      min-width: 200px;
      height: 20%;
      color: #fff;
    }
    .about__menu {
      position: relative;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      left: 40%;
      width: 60%;
      min-width: 200px;
      height: 60%;
      color: #fff;
        
      > div {
        cursor: pointer;
        padding: 2vh 0 2vh 0 ;
        width: 120px;
      }
      span {
        position: relative;
        display: block;
        height: 2px;
        width: 0px;
        background: #932E96;
        border-right: 0px solid #fff;
        transition: .6s;
      }
      .element:hover + span {
        width: 100px;
        border-right: 40px solid #fff;
      }
    }
  }
  #pages {
    position: relative;
    width: 55vw;  
    perspective: 4000px;
    transform-origin: preserve-3d;
    overflow: hidden;
    z-index: 9;

    > div {
      position: absolute;
      background: transparent;
      width: 55vw;
      height: 100vh;
      color: #932E96;
      transform-origin: 100% 100%;
      transition: .8s; 
      // background: rgba(0, 0, 0, 0.39);

      h2 {
        height: 20vh;
        display: flex;
        align-items: center;
        padding-left: 2vw;
      }
    }
    .about-me {
      transform-origin: 50% 0%;

      .about-me__cont {
        display: grid;
        align-content: center;
        position: relative;
        height: 60vh;
        overflow-y: scroll;
        overflow-x: hidden;
         
        .frame {
          margin-top: 120px;
          top: -30px;
          transform-origin: 50% 50%;
          position: relative;
          margin-left: auto;
          margin-right: auto;
          height: 225px;
          width: 225px;
          overflow: hidden;
          transition: .5s;
          animation: div1 2000s linear infinite reverse;
          box-sizing: border-box;
  
          * {
            box-sizing: border-box;
            transform-origin: 50% 50%;
            overflow: hidden;
            width: 225px;
            height: 225px;
          }
          > div {
            transition: .5s;
            animation: div2 10s linear infinite reverse;
            transform: rotate(45deg);
  
            > div {
              transition: .5s;
              
              > div {
                transition: .5s;
                position: relative;
                display: flex;
                width: 300px;
                height: 300px;
                justify-content: center;
                align-items: center;
                animation: div3 4000s linear infinite reverse;
                top: -37.5px;
                left: -37.5px;
  
                img {
                  position: fixed;
                  z-index: 999;
                  width: auto;
                  transition: .5s;
                  overflow: hidden;
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
        .frame:hover img {
          transform: scale(1.45)rotate(-45deg);
          transition: 1s;
        }
        p {
          padding-left: 2vw;
        }
      }
      .about-me__cont:hover {
        box-shadow: inset -3px 0px 5px #932E96;
      }
    }
    .skills {
      transform: rotateY(180deg);

      
      .skills__cont {
        position: relative;
        height: 60vh;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: .2s;
        display: grid;
        align-items: center;
        
        > div {
          display: flex;
          flex-direction: column;
          position: relative;
          width: auto;
          left: 0;
          width: 60vw;

          > div {
            display: flex;
            width: 55vw;
            position: relative;

            > span {
              display: block;
              top: 22.5px;
            }
          }
        }

        .skills__cont_html span {
          width: 50%;   
          transition: 4s;    
        }
        .skills__cont_css span {
          width: 50%;
          transition: 4s;
        }
        .skills__cont_js span {
          width: 40%;
          transition: 3.2s;  
        }
        .skills__cont_jquery span {
          width: 35%;
          transition: 3s;  
        }
        .skills__cont_vue span {
          width: 20%;
          transition: 1.6s;  
        }
        .skills__cont_php span {
          width: 15%;
          transition: 1.2s;  
        }
        .skills__cont_gulp span {
          width: 15%;
          transition: 1.2s;  
        }
        .skills__cont_sass span {
          width: 30%;
          transition: 2.4s;  
        }
        .skills__cont_ps span {
          width: 22%;
          transition: 2.2s;
        }
        .skills__cont_vs span {
          width: 48%;
          transition: 4s;  
        }
        .skills__cont_ajax span {
          width: 45%;
          transition: 3.8s;  
        }
        .skills__cont_react span {
          width: 11%;
          transition: .88s;  
        }
        .skills__cont_english span {
          width: 38%;
          transition: 3s;  
        }

        span.linePlus {
          transition: 0s;
          width: 0px;
        }
      }
      .skills__cont:hover {
        box-shadow: inset -3px 0px 5px #932E96;
      }
      > div > div {
        padding: 0;
        display: flex;
        align-items: center;

        p {
          width: 140px;
          min-width: 140px;
          position: relative;
          left: 2vw;
          background: #fff;
          z-index: 1;
        }
        span {
          position: relative;
          background: #932E96;
          height: 5px;
        }
      }  
    }
    .experience {
      transform: rotateX(-180deg);
      transform-origin: 0% 100%;

      .experience__cont {
        height: 60vh;
        overflow-Y: scroll;
        display: grid;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        p {
          font-size: 17px;
          padding-left: 2vw;
          padding-right: 2vw;
          transition: .2s;
          margin: 0;
  
        }
        a {
          text-decoration: none;
          color: #222;
          margin-top: -16px;
          padding: 0;
          margin-left: auto;
          margin-right: auto;
        }
        a:hover {
          color: #932E96;
        }
        a:visited {
          color: #aaa; 
        }
      }
      .experience__cont:hover {
        box-shadow: inset -3px 0px 5px #932E96;
      }
    }
    .contacts {
      transform: rotateY(-180deg);
      transform-origin: 0% 0%;

      h2 {

      }
      div {
        height: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
          text-decoration: none;
          padding: 0vh 0 0vh 2vw ;
          font-size: 20px;
          font-weight: 900;
          color: #222;
          margin-bottom: 20px;
        }
      }
    }
  }
}

#wrapper {
  transition: .4s;
}
 
.field {
  position: fixed;
  z-index: 999;
  top: 47vh;
  display:flex;
  justify-content:center;
  align-items:center;
  animation: rotateForvard 6s linear infinite;
  justify-content:center;
  transform-style:preserve-3d;
  transform-origin:50% 50% -15.4rem;
  perspective: 9e9999px;

  .cont {
    position:relative;
    width:11rem;
    height: 10rem;
    display:flex;
    justify-content:center;
    transform-style:preserve-3d;
    transform-origin:50% 50% -15.4rem;
    transition:.8s;
    transition-timing-function:linear;
    animation: rotateSide 12s linear infinite;
    perspective: 9e9999px;

    div {
      position:absolute;
      height:10rem;
      width:20rem;
      border-top:2px solid transparent;
      transform-origin:50% 100%;
      display:flex;
      justify-content:center;
      align-items:center;
      font-size: 5rem;
    //   backface-visibility: hidden;
      background: rgba(255, 255, 255, 0.164);
      transform-style:preserve-3d;

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
      
    }

    .one {
      transform:translateY(-10.0rem)rotateX(36deg);
      transform-style:preserve-3d;

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
    }
    .two {
      transform:translateY(-18.1rem)translateZ(-5.9rem)rotateX(72deg);

      img {
        height: 8rem;
        width: auto;
        backface-visibility: hidden;
      }
    }
    .three {
      transform:translateZ(-15.4rem)translateY(-21.2rem)rotateX(108deg);
    }
    .four {
      transform:translateZ(-24.9rem)translateY(-18.1rem)rotateX(144deg);
    }
    .five { transform:translateZ(-30.8rem)translateY(-10.0rem)rotateX(180deg);
    }
    .six {
      transform:translateZ(-30.8rem)rotateX(-144deg);
    }
    .seven {
      transform:translateZ(-24.9rem)translateY(8.1rem)rotateX(-108deg);
    }
    .eight {
      transform:translateZ(-15.4rem)translateY(11.2rem)rotateX(-72deg);
    }
    .nine {
      transform:translateZ(-5.9rem)translateY(8.1rem)rotateX(-36deg);
    }
    .side1 {
        transform:translateZ(-15.4rem)translateX(-10rem)translateY(-11rem)rotateY(-90deg);
    }
    .side2 {
        transform:translateZ(-15.4rem)translateX(10rem)translateY(-11rem)rotateY(90deg);

    }
    .side1, .side2 {
      background: radial-gradient(rgba(255, 255, 255, 0.274), transparent, transparent);
      // backface-visibility: hidden;
      height: 33rem;
      width: 33rem;
      border-radius: 50%;
      
      img {
        height: 16rem;
        width: auto;
      }
    }
  }
}
.field > div > div:hover{
  background: #000;
}
footer {
  position: relative;
  left: 100vw;
  height: 100vh;
  width: 100vw;
  background: #fff;

  #works {
    display: flex;
    width: 200vw;

    h2 {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      height: 20vh;
      width: 100vw;
      font-size: 35px;
      text-align: center;
      font-family: Roboto, sans-serif;
      font-weight: 700;
      transition: .4s;
      color: #222;
      z-index: 9;
      overflow: hidden;

      p {
        position: relative;
        margin: 0;
        opacity: 0;
        transition: .6s;
      }
      .trip {
        animation: worksWaves 6s linear;
        opacity: 1;
      }
      img {
        height: auto;
        width: 100vw;
      }
    }
    
    .page1, .page2 {
      position: relative;
      width: 100vw;
      height: 100vh;
    }
    .page1 {
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      perspective: 600px;
      transform-origin: preserve-3d; 

      .page1__cont {
        width: 90vw;
        max-width: 1200px;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 30px;
        grid-template-areas: 
          ". gm gm gm gm gm gm op op op op ."
          ". gm gm gm gm gm gm br br br br .";
        justify-items: center;
        align-content: center;

        .page1__game {
          grid-area: gm;
        }
        .page1__photo-cut {
          grid-area: op;
        }
        .page1__timer {
          grid-area: br;
        }
      }

      .page1__box1, .page1__box2 {
        position: absolute;
        height: 100vh;
        width: 150vw;
        right: 0;
        transform-origin: 100% 0%;
        transform: skewY(5deg);
      }
      .page1__box1 {
        background: #932E96;
        top: 70vh;
        animation: page1box1 50s linear infinite alternate;
      }
      .page1__box2 {
        background: #222;
        top: 75vh;      
        animation: page1box2 50s linear infinite alternate;
      }


      .page1__flyLeft {
        transition: .4s;
        transform-origin: 0% 100%;
        transform: translateZ(200px)rotateY(-180deg); 
      }
      .page1__flyTop {
        transition: .4s;
        transform-origin: 100% 100%;
        transform: translateY(300px)translateZ(200px)rotateX(-280deg); 
      }

      a {
        display: flex;
        position: relative;
        height: 158px;
        width: 100%;
        max-width: 250px;
        background: #000;
        border-bottom: 4px solid #932E96;
        border-top: 4px solid #932E96;
        padding: 0;
        text-decoration: none;
        color: #222;
        border-radius: 15px;
        overflow: hidden;
        transform-origin: 0% 100%;
        transition: .4s;
        
        p {
          display: flex;  
          position: absolute;
          background: #222;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          width: 100%;
          height: 35px;
          margin: 0;
          justify-content: center;
          align-items: center;
          z-index: 9;
          text-align: center;
        }
        img {
          min-width: 200px;
          display: block;
          width: 100%;
          height: auto;
          margin-top: 35px;
          transition: .2s;
        }
        img:hover {
          transform: scale(1.5);
          transition: .6s;
        }
      }
      a:hover p {
        color: #932E96;
      }
      .page1__game {
        height: 354px;
        max-width: 600px;

        img {
          position: relative;
          background-position: 0% 0%;
          margin: 0 0 0 50%;
          left: -275px;
          min-width: 550px;
          width: auto;
          height: 100%;
        }
      }
    }
    .page2 {
      background: #fff;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: Roboto, sans-serif;
      perspective: 600px;
      transform-origin: preserve-3d;

      .page2__cont {
        width: 90vw;
        max-width: 1200px;
        display: grid; 
        grid-row-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-content: center;
      }
      .page2__box1, .page2__box2 {
        position: absolute;
        height: 100vh;
        width: 150vw;
        left: 0;
        transform-origin: 0% 100%; 
        transform: skewY(-5deg);
      }
      .page2__box1 {
        background: #932E96;
        top: 70vh;
        animation: page2box1 50s linear infinite alternate;
      }
      .page2__box2 {
        background: #222;
        top: 75vh;      
        animation: page2box2 50s linear infinite alternate; 
      }
      .page2__fly {
        transition: .4s;
        transform-origin: 100% 0%;
        transform: translateZ(100px)rotateY(180deg); 
      }

      a {
        display: flex;
        position: relative;
        height: 150px;
        width: 100%;
        max-width: 250px;
        background: #fff;
        border-bottom: 4px solid #932E96;
        border-top: 4px solid #932E96;
        padding: 0;
        text-decoration: none;
        color: #222;
        border-radius: 15px;
        overflow: hidden;
        transform-origin: 0% 100%;
        transition: .4s;
        
        p {
          display: flex;
          position: absolute;
          background: #222;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          width: 100%;
          height: 35px;
          margin: 0;
          justify-content: center;
          align-items: center;
          z-index: 9;
          text-align: center;
        }
        img {
          display: block;
          width: 100%;
          min-width: 200px;
          height: auto;
          margin-top: 35px;
          transition: .2s;
        }
        img:hover {
          transform: scale(1.5);
          transition: .6s;
        }

        #comingSoon {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 150px;
          width: 100%;
          z-index: 99999;
    
          .box {
            position: absolute;
            height: 70px;
            width: 70px;
            margin-top: 45px;
            left: calc(50% - 35px);
            background: radial-gradient(#932E96, rgba(34,34,34,.2), transparent, transparent 60%, #932E96 70%, #932E96);
            border: 3px solid #222;
            border-radius: 50%; 
            top: 10px;
          }
        }
      }
      a:hover p {
        color: #932E96;
      }
      .page2__flyLeft {
        transition: .4s;
        transform-origin: 0% 100%;
        transform: translateZ(200px)rotateY(-180deg); 
      }
    }
  }
}

::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:9px; 
  height:0px
}
::-webkit-scrollbar-track {
  background-color:#932E96;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color:#fff;
}
::-webkit-scrollbar-thumb:hover{
  background-color:#fff; 
}
::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:9px;
  height:0px
}
  
::-webkit-scrollbar{
  width: 9px;
}




@media screen and (max-width:1270px) {
  html {
    font-size: 9px;
  }
}
@media screen and (max-width:768px) {
  html {
    font-size: 7px;
  }
  header > div h1 {
    justify-content: center;
    font-size: 37px;
    padding-left: 0;
  }
}
@media screen and (max-width:499px) {
  html {
    font-size: 6px;
  }
  #nav.navOpenWidth {
    width: 0px; 
    #navButton {
      transform: translate(30px);
    }
  }
  #nav .navbarOpen {
    left: 44px
  }
  main #pages .skills > div > div p {
    width: 105px;
    min-width: 105px;
  }
  main .about .about__menu .element:hover + span {
    width: 40px;
  }

}

