<!DOCTYPE html>
<html lang="ru" id="html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body id="body">
            <div class="field">
                    <div class="cont" >
                        <div class="zero">
                            <img src="../img/1__T_tWFGY29J6MEKek1vBaw.png" alt="visualstudio">
                        </div>
                        <div class="one">
                            <img src="../img/463px-Gulp.js_Logo.svg.png" alt="gulp">
                        </div>
                        <div class="two">
                            <img src="../img/600px-HTML5_Badge.svg.png" alt="html5">
                        </div>
                        <div class="three">
                            <img src="../img/svg/CSS3_Logo.svg" alt="css3">
                        </div>
                        <div class="four">
                            <img src="../img/640px-Sass_Logo_Color.svg.png" alt="sass">
                        </div>
                        <div class="five">
                            <img src="../img/jquery-8-1175153.png" alt="jquery">
                        </div>
                        <div class="six">
                            <img src="../img/Babel-Javascript-compiler.png" alt="babel">
                        </div>
                        <div class="seven">
                            <img src="../img/1280px-PHP-logo.svg.png" alt="php">
                        </div>
                        <div class="eight">
                            <img src="../img/788px-Adobe_Photoshop_CC_icon.svg.png" alt="photoshop">
                        </div>
                        <div class="nine">
                            <img src="../img/58650.png" alt="avocode">
                        </div>
                        <div class="side1">
                            <img src="../img/1184px-Vue.js_Logo_2.svg.png" alt="vue">
                        </div>
                        <div class="side2">
                            <img src="../img/javascript-logo-8892AEFCAC-seeklogo.com.png" alt="javascript">
                        </div>
                    </div>
            </div>

            <div id="nav">
                <div class="hide__circle">
                    <div class="circle"></div>
                </div>
                <div class="navbar">
                    <div class="navbar__line">
                        <a href=""
                        data-r="Главная" data-e="Main" class="L">Main</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Игра" data-e="Game" class="L">Game</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Таймер" data-e="Timer" class="L">Timer</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Качества мозга" data-e="Brain" class="L">Brain</a>
                    </div> 
                    <div class="navbar__line">
                        <a href=""
                        data-r="Onpoint тест" data-e="Onpoin test" class="L">Onpoin test</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Фоторез" data-e="Photocut" class="L">Photocut</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Пузырьки" data-e="Bubbles" class="L">Bubbles</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Диаграмма" data-e="Some diagram" class="L">Some diagram</a>
                    </div>
                    <div class="navbar__line">
                        <a href=""
                        data-r="Валидация формы" data-e="Form validation" class="L">Ida-project test</a>
                    </div>
                </div>
                <div id="navButton">
                    <div class="top"></div>
                    <div class="mid"></div>
                    <div class="bot"></div>
                </div>
            </div>
            <div id="navWall"></div>

            <div id="swapWrapper">
                <div data-r="ENG" data-e="РУС" class="L" id="swap">РУС</div>
            </div>
            
            <div id="wrapper">
                
                
                <header>

                        <img src="../img/StockSnap_JHCQ2KZPR0.jpg" class="banner" alt='banner'>
                        <div>
                            <h1 id="theName">
                                <p data-r="Р" data-e="R" class="L">R</p>
                                <p data-r="у" data-e="u" class="L">u</p>
                                <p data-r="с" data-e="s" class="L">s</p>
                                <p data-r="л" data-e="l" class="L">l</p>
                                <p data-r="а" data-e="a" class="L">a</p>
                                <p data-r="н" data-e="n" class="L">n</p>
                                &nbsp;
                                <p data-r="И" data-e="I" class="L">I</p>
                                <p data-r="д" data-e="d" class="L">d</p>
                                <p data-r="р" data-e="r" class="L">r</p>
                                <p data-r="и" data-e="i" class="L">i</p>
                                <p data-r="с" data-e="s" class="L">s</p>
                                <p data-r="о" data-e="o" class="L">o</p>
                                <p data-r="в" data-e="v" class="L">v</p>
                            
                            </h1>
                            <h3 data-r="Портфолио веб разработчика"
                                data-e="Web developer portfolio" 
                                class="L"
                                >Web developer portfolio</h3>
                        </div>
                    </header>
        
                    <main>
                        <div class="about">
                            <h2 data-r="О чём" data-e="About" class="L">About</h2>
                            
                            <div class="about__menu">
                                <div class="about__menu_about-me element L" data-num="0"
                                data-r="Обо мне" data-e="About me">About me</div>
                                <span></span>
                                <div class="about__menu_skills element L" data-num="1"
                                data-r="Навыки" data-e="Skills">Skills</div>
                                <span></span>
                                <div class="about__menu_experience element L" data-num="2"
                                data-r="Опыт" data-e="Experience">Experience</div>
                                <span></span>
                                <div class="about__menu_contacts element L" data-num="3"
                                data-r="Контакты" data-e="Contacts">Contacts</div>
                                <span></span>
                            </div>
                        </div>


                        <div id="pages">
                            <div class="about-me">
                                <h2 data-r="Обо мне" data-e="About me" class="L">About me</h2>
                                <div class="about-me__cont">
                                    <div class="frame">
                                        <div>
                                            <div>
                                                <div>
                                                    <img src="../img/my-photo.jpeg" alt="my-photo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p 
                                    data-r="26 лет
                                        Оптимист с техническим взглядом на мир. Спокойный, терпеливый и амбициозный. Практикую собственную технику управления временем на основе метода Помидора. Совершенствуюсь в скорости набора текста. Люблю делать различного рода интерактивные анимации и игры. Веду здоровый образ жизни, увлекаюсь философией, активно занимаюсь спортом и изучаю английский. 
                                        Считаю, что цель - это именно то, что нужно для счастливой жизни.
                                        Служил в армии, холост." 
                                    data-e="I'm 26 years old
                                        An optimist with a technical outlook on the world. Calm, patient and ambitious. I practice my own time management technique based on the Tomato method. Improving the speed of typing. Like to make various kinds of interactive animations and games. Lead a healthy lifestyle, fond of philosophy, active in sports and learn English. 
                                        Believe that the goal is exactly what you need for a happy life.
                                        Served in the army, single." 
                                    class="L" >
                                        I'm 26 years old</br>
                                        An optimist with a technical outlook on the world. Calm, patient and ambitious. 
                                        I practice my own time management technique based on the Tomato method.
                                        Improving the speed of typing.
                                        Like to make various kinds of interactive animations and games.
                                        Lead a healthy lifestyle, fond of philosophy, active in sports and learn English. </br>
                                        Believe that the goal is exactly what you need for a happy life.</br>
                                        Served in the army, single.
                                    </p>
                                </div>
                            </div>

                            <div class="skills">
                                <h2 data-r="Навыки" data-e="Skills" class="L">Skills</h2>
                                <div class="skills__cont">
                                    <div>
                                        <div class="skills__cont_html">
                                            <p>HTML5</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_css">
                                            <p>CSS3</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_js">
                                            <p>JavaScript</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_jquery">
                                            <p>jQuery</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_vue">
                                            <p>Vue</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_php">
                                            <p>PHP</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_gulp">
                                            <p>Gulp</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_sass">
                                            <p>SASS</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_ps">
                                            <p>PhotoShop</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_vs">
                                            <p>Visual Studio</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_ajax">
                                            <p>Ajax</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_react">
                                            <p>React</p> 
                                            <span class="line"></span>
                                        </div>
                                        <div class="skills__cont_english">
                                            <p>English</p> 
                                            <span class="line"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="experience">
                                <h2 data-r="Опыт" data-e="Experience" class="L">Experience</h2>
                                <div class="experience__cont">
                                    <p class="L" 
                                    data-r="Работы представленные в портфолио - только часть того, что я делал для практики." 
                                    data-e="The work that is presented in my portfolio is only the third part of what I did myself for practice.">
                                        The work that is presented in my portfolio is only the third part of what I did myself for practice. 
                                    </p>
                                    <p class="L" 
                                    data-r="Также у меня есть пять месяцев коммерческого опыта в офисе (OP Linux). Работал в основном с CMS FlexcoreCMS: интеграция, отладка, перенос сайтов, адаптация сайтов для мобильных устройств и планшетов, встраивание ajax и т. д." 
                                    data-e="I also have five months of commercial experience in the office (OP Linux). Worked primarily with CMS FlexcoreCMS: integration, debugging, site transfer, site adaptation for mobile devices and tablets, embedding ajax and so on...">
                                        I also have five months of commercial experience in the office (OP Linux). Worked primarily with CMS FlexcoreCMS: integration, debugging, site transfer, site adaptation for mobile devices and tablets, embedding ajax and so on...
                                    </p>
                                    <p class="L" 
                                    data-r="В моем портфолио два сайта, сделанные мной с нуля:" 
                                    data-e="In my portfolio two sites made by me from the beginning:">
                                        In my portfolio two sites made by me from the beginning:
                                    </p>
                                        &nbsp;&nbsp;<a href="https://oreshka.msk.ru">https://oreshka.msk.ru</a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://jptica.flexcore.ru">http://jptica.flexcore.ru</a>
                                    <p class="L" 
                                    data-r="Знаком с PHP - писал простые сниппеты в работе, также использовал его в собственных проектах. Очень нравится Vue JS - Photo-Cut, Brain и Diagram были сделаны при помощи Vue." 
                                    data-e="Familiar with PHP - wrote simple snippets, also used it in my own projects. Excited by Vue js - Photo-cut, Brain and Diagram were made entirely with Vue."> 
                                        Familiar with PHP - wrote simple snippets, also used it in my own projects. Excited by Vue js - Photo-cut, Brain and Diagram were made entirely with Vue.
                                    </p>
                                    <p class="L" 
                                    data-r="Сейчас активно изучаю React js - делаю на нем свой проект." 
                                    data-e="Now I'm actively studying the React js and doing my project on it.">
                                        Now I'm actively studying the React js and doing my project on it.
                                    </p>
                                        &nbsp;&nbsp;
                                    </p>
                                </div>
                            </div>

                            <div class="contacts">
                                <h2></h2>
                                <div>
                                    <a href="tel:+79777872997">+7(977)-787-29-97</a>
                                    <a href="mailto: fred_gad@mail.ru">fred_gad@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </main>
        
                    <footer>
                        <div id="works">
                            <h2>
                                <p data-r="М" data-e="" class="L"></p>
                                <p data-r="о" data-e="M" class="L">M</p>
                                <p data-r="и" data-e="y" class="L">y</p>
                                &nbsp;
                                <p data-r="р" data-e="w" class="L">w</p>
                                <p data-r="а" data-e="o" class="L">o</p>
                                <p data-r="б" data-e="r" class="L">r</p>
                                <p data-r="о" data-e="k" class="L">k</p>
                                <p data-r="т" data-e="s" class="L">s</p>
                                <p data-r="ы" data-e="" class="L"></p>
                            </h2>
                            <div class="page1">
                                <div class="page1__box1"></div>
                                <div class="page1__box2"></div>

                                <div class="page1__cont">
                                    <a class="page1__game" href="http://big-bug.mcdir.ru">
                                        <p data-r="Игра" data-e="Game" class="L">Game</p>
                                        <img src="../img/game.png" alt="game">
                                    </a>
                                    <a class="page1__photo-cut" href="/drufog.php">
                                        <p data-r="Фоторез" data-e="Photo-cut" class="L">Photo-cut</p>
                                        <img src="../img/photo-cut.png" alt="photo-cut">
                                    </a>
                                    <a class="page1__timer" href="/timer.php">
                                        <p data-r="Таймер" data-e="Timer" class="L">Timer</p>
                                        <img src="../img/timer.png" alt="timer">
                                    </a>
                                </div>

                            </div>
                            
                            <div class="page2">
                                <div class="page2__box1"></div>
                                <div class="page2__box2"></div>

                                <div class="page2__cont">
                                    <a class="page2__diagram" href="/timer.php">
                                        <p data-r="Диаграмма" data-e="Some Diagram" class="L">Some Diagram</p>
                                        <img src="../img/diagram.png" alt="diagram">
                                    </a>
                                    <a class="page2__brain" href="#">
                                        <p data-r="Качества мозга" data-e="Brain" class="L">Brain</p>
                                        <img src="../img/brain.jpg" alt="brain">
                                    </a>
                                    <a class="page2__onpoint" href="/drufog.php">
                                        <p data-r="Onpoint тест" data-e="Onpoint test" class="L">Onpoint test</p>
                                        <img src="../img/onpoint.png" alt="onpoint">
                                    </a>
                                    <a class="page2__bubbles" href="http://big-bug.mcdir.ru">
                                        <p data-r="Пузырьки" data-e="Bubbles" class="L">Bubbles</p>
                                        <img src="../img/paint.jpg" alt="bubbles">
                                    </a>
                                    <a class="page2__form" href="/drufog.php">
                                        <p data-r="Валидация формы" data-e="Form validation" class="L">Form validation</p>
                                        <img src="../img/validation.jpg" alt="form">
                                    </a>
                                    <a class="page2__soon" href="">
                                        <p data-r="Скоро" data-e="Coming soon" class="L">Coming soon</p>
                                        <div id="comingSoon">
                                        </div>
                                    </a>
                                </div>
                                
                            </div>
                        </div>
                    </footer>
                </div>

        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="../js/index.js"></script>
        <script src="../js/main.js"></script>
        <!-- <script src="../js/vendor.js"></script> -->
    </body>
</html>