<!DOCTYPE html>
<html lang="ru" id="html">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="../img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="../img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="../img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="../img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="../img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="../img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="../img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="../img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="../img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="../img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="../img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="../img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="../img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="../styles/main.css">
    </head>
    <body id="body">
            <div class="field">
                    <div class="cont" >
                        <div class="zero">
                            <img src="../img/1__T_tWFGY29J6MEKek1vBaw.png" alt="visualstudio">
                        </div>
                        <div class="one">
                            <img src="../img/463px-Gulp.js_Logo.svg.png" alt="gulp">
                        </div>
                        <div class="two">
                            <img src="../img/600px-HTML5_Badge.svg.png" alt="html5">
                        </div>
                        <div class="three">
                            <img src="../img/svg/CSS3_Logo.svg" alt="css3">
                        </div>
                        <div class="four">
                            <img src="../img/640px-Sass_Logo_Color.svg.png" alt="sass">
                        </div>
                        <div class="five">
                            <img src="../img/jquery-8-1175153.png" alt="jquery">
                        </div>
                        <div class="six">
                            <img src="../img/Babel-Javascript-compiler.png" alt="babel">
                        </div>
                        <div class="seven">
                            <img src="../img/1280px-PHP-logo.svg.png" alt="php">
                        </div>
                        <div class="eight">
                            <img src="../img/788px-Adobe_Photoshop_CC_icon.svg.png" alt="photoshop">
                        </div>
                        <div class="nine">
                            <img src="../img/58650.png" alt="avocode">
                        </div>
                        <div class="side1">
                            <img src="../img/1184px-Vue.js_Logo_2.svg.png" alt="vue">
                        </div>
                        <div class="side2">
                            <img src="../img/javascript-logo-8892AEFCAC-seeklogo.com.png" alt="javascript">
                        </div>
                    </div>
            </div>

            <div class="nav">
                
            </div>

            <div id="wrapper">
                    

                    <header>
                        <img src="../img/StockSnap_JHCQ2KZPR0.jpg" class="banner" alt='banner'>
                        <div>
                            <h1>Idrisov Ruslan</h1>
                            <div class="frame">
                                <div>
                                    <div>
                                        <div>
                                            <img src="../img/my-photo.jpeg" alt="my-photo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        </div>
                    </header>
        
                    <main>
                        <div class="about">
                            
                            <div class="about__menu">
                                <h2>About</h2>
                                <div class="about__menu_about-me element" data-num="0">About me</div>
                                <span></span>
                                <div class="about__menu_skills element" data-num="1">Skills</div>
                                <span></span>
                                <div class="about__menu_experience element" data-num="2">Experience</div>
                                <span></span>
                                <div class="about__menu_contacts element" data-num="3">Contacts</div>
                                <span></span>
                            </div>
                        </div>


                        <div id="pages">
                            <div class="about-me">
                                <h2>About me</h2>
                                <p>I'm 26 years old</p>
                            </div>

                            <div class="skills">
                                <h2>Skills</h2>
                                <div class="skills__cont">
                                    <div class="skills__cont_html">
                                        <p>HTML5</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_css">
                                        <p>CSS3</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_js">
                                        <p>JavaScript</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_jquery">
                                        <p>jQuery</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_vue">
                                        <p>Vue</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_php">
                                        <p>PHP</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_gulp">
                                        <p>Gulp</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_sass">
                                        <p>SASS</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_ps">
                                        <p>PhotoShop</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_vs">
                                        <p>Visual Studio</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_ajax">
                                        <p>Ajax</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_react">
                                        <p>React</p> 
                                        <span class="line"></span>
                                    </div>
                                    <div class="skills__cont_english">
                                        <p>English</p> 
                                        <span class="line"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="experience">
                                <h2>Experience</h2>
                                <p>
                                    &nbsp;&nbsp;The work that is presented in my 
                                    portfolio is only the third part 
                                    of what I did myself for practice. 
                                    I also have five months of commercial experience
                                    in the office. Worked primarily
                                    with CMS FlexcoreCMS: integration, debugging, site transfer, so on...
                                    </br>Also in my portfolio two sites made by me from the beginning:
                                    </br>&nbsp;&nbsp;<a href="https://oreshka.msk.ru">https://oreshka.msk.ru</a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;<a href="http://jptica.flexcore.ru">http://jptica.flexcore.ru</a>
                                    </br></br>&nbsp;&nbsp;Familiar with PHP - wrote simple snippets, also used in my own projects.
                                    
                                    </br></br>&nbsp;&nbsp;I like Vue js integrated it into my portfolio.
                                    Photo-cut, Brain and Diagram made entirely with Vue.

                                    </br></br>Now I am actively studying the react and doing my project on it.
                                    </br></br>There are two sites in my portfolio I made up 
                                    from the beginning: 
                                    </br>&nbsp;&nbsp;
                                </p>
                            </div>

                            <div class="contacts">
                                <h2></h2>
                                <div>
                                    <a href="tel:+79777872997">+7(977)-787-29-97</a>
                                    <a href="mailto: fred_gad@mail.ru">fred_gad@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </main>
        
                    <footer>
                        <div id="works">
                            <h2>My works</h2>
                            <div class="page1">
                                <a class="page1__game" href="http://big-bug.mcdir.ru">
                                    <p>Game</p>
                                    <img src="../img/Screenshot_3.png" alt="game">
                                </a>
                                <a class="page1__photo-cut" href="/drufog.php">
                                    <p>Photo-cut</p>
                                    <img src="" alt="photo-cut">
                                </a>
                                <a class="page1__timer" href="/timer.php">
                                    <p>Timer</p>
                                    <img src="" alt="timer">
                                </a>
                            </div>

                            <div class="page2">
                                <a class="page2__game" href="#">
                                    <p>PhotoCut</p>
                                    <img src="" alt="">
                                </a>
                                <a class="page2__onpoint" href="/drufog.php">
                                    <p>Onopoint test</p>
                                    <img src="../img/Screenshot_4.png" alt="onpoint">
                                </a>
                                <a class="page2__brain" href="/timer.php">
                                    <p>Timer</p>
                                    <img src="" alt="">
                                </a>
                                <a class="page2__game" href="http://big-bug.mcdir.ru">
                                    <p>Game</p>
                                    <img src="" alt="">
                                </a>
                                <a class="page2__onpoint" href="/drufog.php">
                                    <p>Onopoint test</p>
                                    <img src="" alt="">
                                </a>
                                <a class="page2__soon" href="">
                                    <p>Coming soon</p>
                                    <div id="comingSoon">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </footer>
                </div>

        @@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")
        <script src="../js/index.js"></script>
        <script src="../js/main.js"></script>
        <!-- <script src="../js/vendor.js"></script> -->
    </body>
</html>